
<div class="wells">
  <div class="aHeader">
    {{answer.answerBody}}
  </div>
  <div class="answeredBy">
    Answer by: {{answer.author}}
    <button {{action 'delete' answer}}>
      <span class="glyphicon glyphicon-trash"></span>
    </button>
  </div>
  <br>
</div>
