
  <div class="wells">
    <div class="qHeader">{{#link-to 'question' question.id}}{{question.quest}}{{/link-to}}</div>
    <div class="askedBy">
      Asked by: {{question.author}}
    </div>
    <div class="noReplies">
      Replies:
      {{#if question.answers}}
        {{question.answers.length}}
        {{else}}
          0
      {{/if}}
    </div>
    <br>
  </div>
