<li>
  <div class="well">
    <h4>{{#link-to 'question' question.id}}{{question.quest}}{{/link-to}}</h4>
    <hr>
    Author: {{question.author}}
    <br>
    Additional Notes: {{question.notes}}
  </div>
</li>
