
<span>More details about {{question.author}}'s question</span>
<br>
<br>
<br>
<br>

<ul>
  {{#each question.answers as |answer|}}
    {{answer-tile answer=answer}}
    <br>
    <br>
    <br>
  {{/each}}
</ul>
