<h3>Update Question: <br>
  <span class="upQuestion">"{{question.quest}}"</span></h3>
  <div>
    <form>
      <div class="form-group">
        <label>Question:</label>
        {{input type="text" value=quest placeholder=question.quest}}
      </div>

      <div class="form-group">
        <label>Notes:</label>
        {{input value=notes placeholder=question.notes}}
      </div>

      <button class="btn btn-success"{{action 'update' question}}>Save</button>
    </form>
  </div>
