<div class= "container">
  <header>
    <div class="navbar-container">
      <div class="navtitle">
          {{#link-to 'index'}}Ember Questions{{/link-to}}
      </div>
    </div>
  </header>
    {{outlet}}
</div>
