<span>Hi, I'm an index</span>

<p>This is a wicked sick Q&A website. Here are all the questions users have asked so far: </p>

{{new-question saveQuestion="saveQuestion"}}

<hr>

{{#each model.questions as |question|}}
  {{question-tile question=question}}
{{/each}}
